<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|64","bottom":"var:preset|spacing|104"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|48"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
        <!-- wp:post-title {"style":{"typography":{"fontWeight":"700","lineHeight":"1.1"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"fontSize":"h1"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-featured-image {"style":{"border":{"radius":"8px"},"spacing":{"margin":{"bottom":"var:preset|spacing|48"}}},"aspectRatio":"16/9"} /-->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
